*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
}

canvas{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../assets/background-day.png');
    background-size: cover;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
}

.d-none{
    display: none;
}
