
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
}

canvas{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../assets/background-day.png');
    background-size: cover;
}

.instructions{
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    padding: 3rem;
    background-color: skyblue;
    min-height: 100vh;
    color: white;
    font-weight: 900;
    font-size: 1.55rem;
    font-family: 'Common Pixel', sans-serif;                                           
}

.instructions h2{
    margin-bottom: 1rem;
}

ol{
    max-width: 300px;
}

ol li{
    padding: 0.55rem;
}
